button {
	background-color: #046304;
	font-weight: bold;
	color: white;
	border-radius: 5px;
	border: .5px solid brown;
}

.buttons button {
	margin-right: 3px;
	margin-left: 3px;
}

.rowBtn {
	margin-bottom: 20px;
}

.content div {
	display: inline-block;
	margin-right: 20px;
}